<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>context-param</param-name>
        <param-value>context-value</param-value>
    </context-param>
    <servlet>
        <servlet-name>AServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.AServlet</servlet-class>
        <init-param>
            <param-name>p1</param-name>
            <param-value>v1</param-value>
        </init-param>
        <init-param>
            <param-name>p2</param-name>
            <param-value>v2</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.BServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.CServlet</servlet-class>
        <!--服务器启动时就创建Servlet-->
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.DServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.EServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.FServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.GServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.HServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.IServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.JServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.KServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.LServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.MServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.NServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.OServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.PServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.QServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.RServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.SServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.TServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.UServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.VServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.WServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.XServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.YServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.ZServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JiaServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day11.web.servlet.JiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day11.web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day12.web.servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AServlet</servlet-name>
        <url-pattern>/AServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BServlet</servlet-name>
        <url-pattern>/BServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CServlet</servlet-name>
        <url-pattern>/CServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DServlet</servlet-name>
        <url-pattern>/DServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EServlet</servlet-name>
        <url-pattern>/EServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FServlet</servlet-name>
        <url-pattern>/FServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GServlet</servlet-name>
        <url-pattern>/GServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HServlet</servlet-name>
        <url-pattern>/HServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IServlet</servlet-name>
        <url-pattern>/IServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JServlet</servlet-name>
        <url-pattern>/JServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KServlet</servlet-name>
        <url-pattern>/KServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LServlet</servlet-name>
        <url-pattern>/LServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MServlet</servlet-name>
        <url-pattern>/MServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NServlet</servlet-name>
        <url-pattern>/NServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OServlet</servlet-name>
        <url-pattern>/OServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PServlet</servlet-name>
        <url-pattern>/PServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QServlet</servlet-name>
        <url-pattern>/QServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RServlet</servlet-name>
        <url-pattern>/RServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SServlet</servlet-name>
        <url-pattern>/SServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TServlet</servlet-name>
        <url-pattern>/TServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UServlet</servlet-name>
        <url-pattern>/UServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VServlet</servlet-name>
        <url-pattern>/VServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WServlet</servlet-name>
        <url-pattern>/WServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XServlet</servlet-name>
        <url-pattern>/XServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YServlet</servlet-name>
        <url-pattern>/YServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZServlet</servlet-name>
        <url-pattern>/ZServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JiaServlet</servlet-name>
        <url-pattern>/JiaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/error/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/error500.jsp</location>
    </error-page>
</web-app>
