<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>context-param</param-name>
        <param-value>context-value</param-value>
    </context-param>
    <servlet>
        <servlet-name>AServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.AServlet</servlet-class>
        <init-param>
            <param-name>p1</param-name>
            <param-value>v1</param-value>
        </init-param>
        <init-param>
            <param-name>p2</param-name>
            <param-value>v2</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.BServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.CServlet</servlet-class>
        <!--服务器启动时就创建Servlet-->
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.DServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.EServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.FServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.GServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.HServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.IServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.JServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day09.web.servlet.KServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LServlet</servlet-name>
        <servlet-class>cn.ksdshpx.day10.web.servlet.LServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AServlet</servlet-name>
        <url-pattern>/AServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BServlet</servlet-name>
        <url-pattern>/BServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CServlet</servlet-name>
        <url-pattern>/CServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DServlet</servlet-name>
        <url-pattern>/DServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EServlet</servlet-name>
        <url-pattern>/EServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FServlet</servlet-name>
        <url-pattern>/FServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GServlet</servlet-name>
        <url-pattern>/GServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HServlet</servlet-name>
        <url-pattern>/HServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IServlet</servlet-name>
        <url-pattern>/IServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JServlet</servlet-name>
        <url-pattern>/JServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KServlet</servlet-name>
        <url-pattern>/KServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LServlet</servlet-name>
        <url-pattern>/LServlet</url-pattern>
    </servlet-mapping>

</web-app>
